body {
    background-color: rgb(235, 235, 235);
}

.margin-top-bottom {
    margin: 20px 0;
}

.margin-top-bottom2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-color {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.background-color-2 {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.margin-button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-pading {
    padding: 0 !important;
}

.modal-style {
    padding: 30px 0;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: white;
}

.mt {
    margin-top: 60px;
}

.po {
    padding: 0 !important;
}